<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.addu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ADDU">
        <activity
            android:name=".ListOfSave"
            android:exported="false" />
        <activity
            android:name=".DeleteUserVal"
            android:exported="false" />
        <activity
            android:name=".AdminUserInterface"
            android:exported="false" />
        <activity
            android:name=".db.connectivity.AdminUserInt"
            android:exported="false" />
        <activity
            android:name=".DeleteValidation"
            android:exported="false" />
        <activity
            android:name=".db.connectivity.ValidDelete"
            android:exported="false" />
        <activity
            android:name=".EditThePanePost"
            android:exported="false" />
        <activity
            android:name=".AfterLoginProfileFeed"
            android:exported="false" />
        <activity
            android:name=".CreatePostNew"
            android:exported="false" />
        <activity
            android:name=".AfterLoginHome"
            android:exported="false" />
        <activity
            android:name=".MiddleTally"
            android:exported="false" />
        <activity
            android:name=".ChangeSavesProfile"
            android:exported="false" />
        <activity
            android:name=".ViewInfo"
            android:exported="false" />
        <activity
            android:name=".AfterLoginProfile"
            android:exported="false" />
        <activity
            android:name=".FinalTally"
            android:exported="false" />
        <activity
            android:name=".GetTallied"
            android:exported="false" />
        <activity
            android:name=".MapDecider"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PopFirstScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>